body {
  background-color: #1a444c;
  color:#ffffff;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue';
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 1px;
}

.container {
  margin-top: 150px;
}

.about {
  max-width: 560px;
}

.about-text {
  padding-top: 20px;
}

.about-contact {
  padding: 30px;
}

.about-contact-text {
  text-align: center;;
}

.photo {
  width: 80px;
  height: 80px;
  float: right;
  box-shadow: 3px 3px 3px black;
  -webkit-transform: rotate(4deg);
     -moz-transform: rotate(4deg);
       -o-transform: rotate(4deg);
      -ms-transform: rotate(4deg);
          transform: rotate(4deg);
}

.link {
  color:#EB7600;
}

.link:hover {
  color:#EDAC65;
}

.name {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 18px;
  font-weight: 300;
}

h2 {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue';
  font-size: 30px;
  font-weight: 300;
}

.logo-buffer {
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
            opacity: 0.7;
  -webkit-transform: rotate(20deg);
     -moz-transform: rotate(20deg);
       -o-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}