body {
  background-color: #1a444c;
  color:#ffffff;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue';
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 1px;
}

.container {
  margin-top: 150px;
}

.about {
  max-width: 560px;
}

.about-text {
  padding-top: 20px;
  text-align: center;
}

.about-contact {
  padding: 30px;
}

.about-contact-text {
  text-align: center;
}

.link {
  color:#EB7600;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: border-bottom;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-duration: 0.3s;
  -moz-transition-property: border-bottom;
  -moz-transition-timing-function: ease-in;
}

.link:hover {
  color:#edac65;
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
}

.name {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
