{% extends "base.html" %}
{% block content %}
</br>
<p class="lead">My name is <strong>Luis Flores</strong>. I'm 22 years old software developer from Mexico currently working and studying in Iceland.</p>
<p class="lead">I'm mostly an iOS Developer and I love to work on the backend mainly with Python and Flask.</p>
<p class="lead">Competitive programming is my favorite sport, I like to create algorithms and solutions.
I compete in programming online contests when my schedule allows me, C++ is my preferred language.</p>
<p class="lead">I also have experience and training in software security.</p>
<blockquote class="pull-right">Write code, refactor, bang head against wall, rewrite code...</blockquote>
</br>
<h2>Contact</h2>
<p class="lead">Email: <a href="mailto:me@luisflores.mx">me@luisflores.mx</a> </br>
  Twitter: <a href="http://twitter.com/aklovo">@Aklovo</a></br>
  <a href="http://github.com/LuisFloresV" ><img src={{ url_for('static', filename = 'images/icons/github.png') }} class="img-rounded" alt="LuisFloresF"> Github </a>
</p>
{% endblock %}