<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Luis Flores</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="navbar navbar-static-top navbar-default">
	<div class="container">
  		<a class="navbar-brand" href="base.html"> <img src="static/images/luis.png"></a>
    </div>
</div>

<div class="container">
	<div class="content">
		<h1>
			Coming soon...
		</h1>
	</div>
</div>
</body>
</html>