<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Luis Flores Personal Blog">
  <meta name="author" content="Luis Flores">
	<title>Luis Flores</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,400' rel='stylesheet' type='text/css'>
 <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Wrap all page content here -->
    <div id="wrap">
      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <div class="row nav">
            <div class="col-xs-12 col-md-8">
              <h1>LUIS FLORES</h1>
              <h4><small>PROGRAMMER, TACO EATER, MORE?</small></h4>
            </div>
            <div class="col-xs-6 col-md-4">
              <br/>
              <ul class="nav nav-pills">
                <li class={{home}}><a href="/">Home <span class="glyphicon glyphicon-home"></span></a></li>

                <li class={{about}}><a href="/about">Me <span class="glyphicon glyphicon-user"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">© 2013 Copyright Luis Flores</p>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>