<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Meta tags -->
	<meta charset="UTF-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Luis Flores Personal Website">
  <meta name="author" content="Luis Flores">

	<title>{{ page.title }}</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
	

  <link rel="shortcut icon" href="/images/favicon.ico">
  <link href="http://fonts.googleapis.com/css?family=Raleway:100,400" rel="stylesheet" type="text/css">

</head>
  <body>
    <div id="wrap">
      <div class="container">
        <div class="page-header">
          <div class="row nav">
            <div class="col-xs-12 col-md-8">
              <h1> LUIS FLORES </h1>
              <h4><small>SOFTWARE DEVELOPER, TACO EATER, MORE?</small></h4>
            </div>
            <div class="col-xs-6 col-md-4">
              <br/>
            </div>
          </div>
        </div>
  
        {{ content }}

      </div>
    </div>
    <div id="footer">
      <div class="container">
        <h4>
          <p class="text-muted credit">© 2013 Copyright Luis Flores</p>
        </h4>
      </div>
    </div>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-46215114-1', 'luisflores.mx');
      ga('send', 'pageview');
    </script>
  </body>
</html>